dnspython==1.16.0
Flask==1.1.2
Jinja2==2.11.3
jmespath==0.10.0
lxml==4.6.3
pyecharts==1.9.0
pymongo==3.11.3
pyOpenSSL==19.1.0
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2021.1
queuelib==1.5.0
requests==2.23.0
Twisted==21.2.0
twisted-iocpsupport==1.0.1
urllib3==1.25.8
w3lib==1.22.0
wcwidth==0.2.5
Werkzeug==1.0.1